@charset "utf-8";
html, body {width:100%; height:100%;}
body {color:#333; font-size:16px;}
.blind {display: none;}
.hide {display:none !important;}

.wrap {display:flex; flex-direction:column; width:100%; height:100%; }
.wrap header { height:60px; background:#eee;}
.wrap nav {height:60px; background:#333; color:#fff;}
.wrap .container {flex:1; display: flex; flex-direction: row;}
.wrap .container aside {width:300px; background:#ccc; overflow-y: auto; padding:20px;}
.wrap .container aside ul li {line-height:50px; border-bottom:1px solid #aaa;}

.wrap .container .contents {flex:1;}

/* madal popup */
.modal_wrapper {display:none}
.modal_wrapper:before {content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:black; opacity:30%;}
.modal_content {display:flex; flex-direction:column; position:absolute; z-index:99; width:80%; height:auto; max-height:90%; top:50%; left:50%; transform:translate(-50%, -50%);background:white; border-radius: 8px; overflow: hidden; box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);}
.modal_content .modal_header {display:flex; align-items:center; background:#666; color:#fff; height:60px; padding:0 20px;}
.modal_content .modal_header h2 {font-size:16px; line-height:60px;}
.modal_content .modal_header .closed {position:relative; margin-left:auto; width:40px; height:40px; padding:0;}
.modal_content .modal_header .closed:before {content: ''; position:absolute; left:0; width:40px; height:2px; transform: rotate(45deg); background:#fff; }
.modal_content .modal_header .closed:after {content: ''; position:absolute; left:0; width:40px; height:2px; transform: rotate(-45deg); background:#fff; }
.modal_content .modal_body {background:white; padding:20px; overflow-y: auto;}
.modal_content .modal_footer {display:flex; align-items:center; margin:0 20px; background:#fff; border-top:1px solid #aaa; height:60px;}

/* table */
table {position:relative; border-collapse: collapse; width:90%; margin:0 auto; border:none; }
table:after {content:''; display:block; position:absolute; width:100%; z-index:9; top:-1px; border-top:1px solid black;}
table thead th, table th {width:20%; background:#eee; text-align:center;}
table th, table td {border-right:1px solid #ddd; border-bottom:1px solid #ddd; padding:10px;}
table td:last-child {border-right:none;}
table tr:nth-child(even) {background:#f5f5f5;}

/* button */
button {background:#425485; border-radius:4px; color:#fff; height:40px; padding:0 30px;}

/* tabs */
.tabs {position:relative;}
.tabs:before {content:''; display:block; position:relative; top:52px; width:100%; border-bottom:1px solid #666;  }
.tabs .tab_menu:after {content:''; display: block; clear:both;}
.tabs .tab_menu li {float:left; margin-left:-1px; border:1px solid #555; background:#e5e5e5; padding:10px 30px; line-height:30px;}
.tabs .tab_menu li a.active {background:#555; color:#ffffff;}
.tabs .tab_panner li {border:1px solid #ddd; padding:10px;}